@font-face
{
    font-family: 'AA-Neon';
    src: url("../fonts/AA-Neon.ttf")
}
@font-face
{
    font-family: 'Neon_2';
    src: url("../fonts/Neon_2.ttf")
}
@font-face
{
    font-family: 'Main_text';
    src: url("../fonts/Main_text.ttf")
}
@font-face
{
    font-family: 'TV';
    src: url("../fonts/TV_text.ttf")
}
@font-face
{
    font-family: 'FKAstronBoykz';
    src: url("../fonts/FKAstronBoykz.ttf")
}
@font-face
{
    font-family: 'PressStart2P-Regular';
    src: url("../fonts/PressStart2P-Regular.ttf")
}
@font-face
{
    font-family: 'Comfortaa';
    src: url("../fonts/Comfortaa.ttf")
}