@import '../assets/fonts.css';
body
{
    background-color: #0a0a0a ;
    width: 96%;
        
}
.cinema
{
    width: 100%;
    height: 50vh;
    background:
    url("../images/vhs.png") no-repeat;
    background-position: center;
    color: aqua;
    font-size: 0px;
    font-family: 'TV', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 5px;
}

.cinema:hover
{
    font-size: 50px;
    color: white;
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.5), 
            rgba(0, 0, 0, 0.5)
        ),
        url("../images/vhs2.gif") no-repeat;
        background-size: 100% 100%;
        background-position: center;
    transform: scale(1.1);
    position: relative;
    transform: 1s;
    
}
.sound
{
    color: aqua;
    width: 100%;
    height: 50vh;
    background:
     url("../images/sound.jpg") no-repeat;
     background-position: center;
     font-size: 0px;
     font-family: 'TV', Tahoma, Geneva, Verdana, sans-serif;
     padding-left: 5px;
}
.sound:hover
{

    font-size: 50px;
    color: white;
    background:
        linear-gradient(
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
        ),
        url("../images/sound2.gif") no-repeat;
    background-position: center;
    background-size: 100% 100%;
    transform: scale(1.1);
    position: relative;
    transform: 1s;
}
.game
{
    margin-left: 5px;
    color: aqua;
    width: 100%;
    height: 50vh;
    background:
    url("../images/game.png") no-repeat;
    background-position: center;
    font-size: 0px;
    font-family: 'TV', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 5px;
}
.game:hover
{
    font-size: 50px;
    color: white;
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.5), 
            rgba(0, 0, 0, 0.5)
        ),
        url("../images/game2.gif")  no-repeat;
        background-size: 100% 100%;
        background-position: center;
    transform: scale(1.1);
    position: relative;
    transform: 1s;
}
li
{
    list-style-type: none;
    margin-left: 40px;
    margin-right: 40px;
}

.button 
{
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    font: normal 20px/normal "Neon_2", Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    text-decoration: normal;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  }
  .button_1
  {
    color: #ffffff;
  }
  .button_2
  {
    color: #ffffff;
  }
  .button_3
  {
    color: #ffffff;
  }
  .button_4
  {
    color: #ffffff;
  }
  .button_5
  {
    color: #ffffff;
  }
  
  .button_1:hover 
  {
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 0 5px #2c1dff , 0 0 6px #2c1dff , 0 0 5px #2c1dff, 4px 0 5px #2c1dff  , 1px 1px 0 #2c1dff  , -2px -1px 9px #2c1dff  , 0 -1px 0 #2c1dff  , 0 0 0 #2c1dff  ;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);  
  }
  .button_2:hover 
  {
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 0 5px rgb(77,162,252) , 0 0 6px rgb(77,162,252) , 0 0 5px rgb(77,162,252) , 4px 0 5px rgb(77,162,252) , 1px 1px 0 rgb(77,162,252) , -2px -1px 9px rgb(77,162,252) , 0 -1px 0 rgb(77,162,252) , 0 0 0 rgb(77,162,252) ;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  }
  .button_3:hover 
  {
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 0 5px rgba(153,0,255,1) , -1px 0 6px rgba(153,0,255,1) , 0 0 5px rgba(153,0,255,1) , 4px 0 5px rgba(153,0,255,1) , 1px 1px 0 rgba(153,0,255,1) , -2px -1px 9px rgba(153,0,255,1) , 0 -1px 0 rgba(153,0,255,1) , -1px 0 0 rgba(153,0,255,1) ;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);  
  }
  .button_4:hover 
  {
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 0 5px rgba(238,0,255,1) , -1px 0 6px rgba(238,0,255,1) , 0 0 5px rgba(238,0,255,1) , 4px 0 5px rgba(238,0,255,1) , 1px 1px 0 rgba(238,0,255,1) , -2px -1px 9px rgba(238,0,255,1) , 0 -1px 0 rgba(238,0,255,1) , -1px 0 0 rgba(238,0,255,1) ;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);  
  }
  .button_5:hover 
  {
    color: #ffffff;
    text-decoration: none;
    color: rgba(255,255,255,1);
    text-shadow: 0 0 5px rgba(255,0,0,1) , -1px 0 6px rgba(255,0,0,1) , 0 0 5px rgba(255,0,0,1) , 4px 0 5px rgba(255,0,0,1) , 1px 1px 0 rgba(255,0,0,1) , -2px -1px 9px rgba(255,0,0,1) , 0 -1px 0 rgba(255,0,0,1) , -1px 0 0 rgba(255,0,0,1) ;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);  
  }

  /* heder */
  .blur
  {
      background-color: #0a0a0a;
      opacity: 0.95;
  }
  
   /* Шапка */
   .header
   {
     
      justify-content: center;
      height: 100vh;
      width: 100%;
   }

    /* Текст */
    .h1_item
    {
      
      font: normal 30px/normal "PressStart2P-Regular", Helvetica, sans-serif;
      color: #ffffff;
      text-align: center;
      margin-bottom: -60px;
      margin-top: 40px;
    }
    .h2_item
    {
      font-family: 'Comfortaa', Courier, monospace;
      font-size: 30px;
      margin: 0 auto;
      margin-top: 88px;
      margin-bottom: 48px;
      
    }
    p
    {
      font-family: 'Comfortaa', Courier, monospace;
    }
    .text
    {
      margin-top: 48px;
      font-family: 'Comfortaa', Courier, monospace;
      line-height: 48px;
      font-size: 20px;
      color: #ffffff;
    }