
.radio
{
    margin: 0 auto;
    text-align: center;
    width: 200px;
    height: 50px;
    border: 2px solid rebeccapurple;
    border-radius: 90px;
    overflow: hidden;
    box-shadow: 0 0 20px  rebeccapurple;
}